{% extends "layout.html" %}
{% block title %}Note POS{% endblock %}
{% block main %}
<form method="POST" action="/p">
    <p><b>Note POS |</b> write something!</p>
    <textarea name="c" cols="30" rows="8" style="padding:.5em; line-height:1.5em; font-size: 1.2em;"></textarea>
    <p>
        <button style="padding:.5em 2.5em;" type="button" onclick="document.getElementsByTagName('textarea')[0].value='';">CLEAR</button> 
        <button style="padding:.5em 2.5em;" type="submit">PRINT</button>
    </p>
</form>
{% endblock %}
